.piechart-container {
    margin-top: 50px;
}

.pieChart {
    margin-bottom: 15px;
    border: 4px solid rgb(172, 101, 238);
    border-radius: 8px;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .piechart-container {
        
        margin-top: 50px;
    }

    .pieChart {}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .piechart-container {
        width: 100%;
        margin-top: 50px;
    }

    .pieChart {}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .piechart-container {
       
        margin-top: 50px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .piechart-container {
       
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .piechart-container {
       
    }
}