.quastion-container{
    color: black;
    padding: 40px;
    background-image: url(../../img/depositphotos_138030202-stock-photo-physics-concept-on-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
p{
    margin-left: 20px;
    font-weight: 600;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .quastion-container{
    height: 200vh;
   }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
   .quastion-container{
    height: 200vh;
   }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .quastion-container{
        height: 100vh;
    }
  } 